
html, body, {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.background {
	overflow: hidden;
	background-size: cover;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0px;
	left: 0px;
}

.card {
	left: 250px;
	width: 350px;
	height: 500px;
	border-radius: 5px 5px 0px 0px;
	background: #62a4f0;
	box-shadow: 3px 3px 4px #200030;
	box-shadow:rgba(0,0,0,.4);
	background:rgba(0,0,0,.4);
	position: relative;
}

.card .github {
	color: #fff;
	padding: 4px 10px;
	position: absolute;
	right: 0px;
	top: 0px;
	text-decoration: none;

}
.card .github:hover {
	border-radius: 5px 5px 0px 0px;
	background: #ff9f75;
}

.design {
	letter-spacing: 5px;
	top: 100px;
	width: 100%;
	height: 70%;
	position: absolute;
}

.info {
	top: 0px;
	left: 650px;
	width: 550px;
	height: 500;
	border-radius: 5px 5px 0px 0px;
	background: #62a4f0;
	box-shadow: 3px 3px 4px #200030;
	box-shadow:rgba(0,0,0,.4);
	background:rgba(0,0,0,.4);
	position: absolute;
}

@keyframes example {
	0%   {background:rgba(0,0,0,.8);}
	25%  {background:rgba(0,0,0,.6);}
	50%  {background:rgba(0,0,0,.4);}
	75%  {background:rgba(0,0,0,.2);}
	100% {background:rgba(0,0,0,.0);}
}

.welcome {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color: #2F4F4F;
	position: absolute;
	animation-name: del;
	animation-duration: 1s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	z-index: 1;
}

.sayhello {
	color: #00ffff;
	top: 40%;
	left: 30%;
	font-size: 64px;
	visibility: hidden;
	position: absolute;
	animation-name: sayhello;
	animation-duration: 3.5s;
	animation-delay: 0.5s;
	
}

@keyframes sayhello{
	0%	{visibility:visible;opacity: 0.2;}
	25%	{opacity:1;}
	50%{top: 30%; visibility: visible;}
	100% {top: 35%};
}

.myname {
	color: #ff9f75;
	top: 40%;
	left: 40%;
	text-align: center;
	font-size: 64px;
	visibility: hidden;
	position: absolute;
	animation-name: name;
	animation-duration: 3s;
	animation-delay: 1s;
}
@keyframes name{
	0%	{visibility: visible;
	opacity: 0.2;
	top: 40%;
	left: 40%}
	50%	{opacity: 1;}
	70% {opacity: 1;}
	100% {top: 45%; left: 40%};
}

@keyframes del{
	0%	{}
	100%{
	border-radius: 5px 5px 0px 0px;
	margin-top: 100px;
	margin-left: 20.5%;
	width: 60%;
	height: 70%;
	visibility: hidden;
	opacity: 0.2;
	box-shadow: 3px 3px 4px #200030;
	box-shadow:rgba(0,0,0,.4);
	background:rgba(0,0,0,.4);
	}
}

.welcome .github{
	color: #fff;
	padding: 4px 10px;
	position: absolute;
	right: 0px;
	top: 0px;
	text-decoration: none;
}

.welcome .github:hover {
	border-radius: 5px 5px 0px 0px;
	background: #FF8C00;
}