
.container {
	width: 100vw;
	height: 100vh;
}

.content-info {
	font-size: 19px;
}

table {
	width: 100%;
}

td {
	width: 70%;
}

#imggr {
	margin: 5%;
	height: 600px;
}

area{
    outline: none;
}
.membergr {
	/*display: none;*/
	height: 200px;
}

#phuImg:hover {
	height: 500px;
}

.img_header {
	width: 100vw;
	height: auto;
}

ul.menu_button {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: orange;
	/*position: sticky;*/
	top: 0;
}

ul.menu_button li {
	float: left;
	margin-right: 5px;
}

ul.menu_button li > a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.menu_button li a:hover, .member_menu_button:hover .member_menu_name {
	background-color: #c2af8d;
}

.homebutton {
	background-color: #db9a21;
}

li.member_menu_button {
	display: inline-block;
}

.member_menu {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	max-width: 80px;
	margin-left: 30px;
	background-color: orange;
}


.member_menu a {
	padding: 12px 16px;
	color: white;
	text-decoration: none;
	display: block;
	text-align: center;
}

.member_menu_button:hover .member_menu {
	display: block;
}

.img_icon {
	height: 2.1rem;
	margin-top: 0.5rem;
}

#icon_team {
	margin-left: 30px;
	margin-right: 20px;
}

#icon_team > a {
	padding: 0px 0px;
}

.icon_a {
	background-color : orange !important;
}

.footer {
	position: relative;
	bottom:0px;
	margin-top: 100px;
	background-color: #1d262d;
	height: auto;
	width: 100%;
}

.members-footer {
	display: inline-block;
	list-style-type: none;
	font-family: monospace;
	font-size: 17px;
	margin: 30px 40px;
}

.members-footer ul {
	list-style-type: none;
	padding: 0px 5px;
}

.members-footer-list li {
	color: #869fb2;
  text-decoration: none;
}

.members-footer-list a {
	color: #869fb2;
  text-decoration: none;
}

.members-footer-list a:hover {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.members-footer p {
	color: white;
}


.footer h4 {
	color: #f4f4f4;
	margin: 5px 5px;
}

.footer hr{
	color: blue;
	background-color: blue;
}

.copyright-footer h5 {
	display: inline-block;
	color: white;
	font-size: 20px;
	margin: 10px 10px;
}

#logo-khoa {
	height: 100px;
}

#img_icon-footer {
	height: 100px;
}